.ImageSlide {
    display: grid;
    grid-template-columns: repeat(60, 10px);
    height: 200px;
    width: 600px;
    border: 1px solid black;
    margin-left: 600px;
    margin-top: 300px;
}
  
  .Captured {
    background-color: green;
    height: 10px;
    width: 10px;
  }
  
  .Requested {
    border: 1px dashed gray;
    height: 8px;
    width: 8px;
  }
  
  .Focused {
    background-color: gray;
    height: 10px;
    width: 10px;
  }
  
  .Default {
    height: 10px;
    width: 10px;
  }

  .Active {
    border: 1px solid black;
    height: 8px;
    width: 8px;
  }
